#div1{
    border: solid;
    height: 430px;
    width: 330px;
}

#h11{
    padding-left: 50px;
}

#div2{
    border: solid;
    width: 91px;
    height: 105px;
    margin-left: 10px;
    
}

#Germany{
    margin-left: 10px;

}

#italy{
    margin-left: 23px;
}

#divspaynblok{
    border: solid;
    width: 91px;
    height: 105px;
    margin-left: 180px;
    margin-top: -261px;
}

#france{
    border: solid;
    width: 91px;
    height: 105px;
    margin-left: 180px;
    

}