div{
   background-color: cadetblue;
   border: 3px solid black;
   height: 150px;
   width: 150px;
   text-align: center;
   animation: jump 3s cubic-bezier() 0.1s 1 alternate forwards;


   
}
   
@keyframes jump{
   10%{
      transform: translate(10px);
   }

   20%{
      transform: translate(20px);
   }


   30%{
      transform: translate(30px);
   }

   40%{
      transform: translate(40px);
   }

   50%{
      transform: translate(50px);
   }

   60%{
      transform: translate(60px);
   }

   70%{
      transform: translate(70px);
   }

   80%{
      transform: translate(80px);
   }

   90%{
      transform: translate(90px);
   }

   100%{
      transform: translate(100px);
}


}