

h1{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 20em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(rgb(75, 236, 25), green, blue);
    text-transform: capitalize;
    text-decoration: dotted;
    
}
